h2{
    padding: 5px;
    padding-left: 10%;
}

#button1{
    padding:5px;
    margin-left:10%;
    font-size: 0.75rem;
    background-color: black;
    cursor: pointer;
    display: inline;
}

#button2{
    padding:5px;
    margin-left:3%;
    font-size: 0.75rem;
    background-color: black;
    cursor: pointer;
    display: inline;
}

#button1:hover, #button2:hover{
    background-color: brown;
}

.text{
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    font-weight: 700;
    color: brown;
}

.flex1{
    background-color: grey;
    height: 900px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 5px auto;
    border: 2px solid white;
}

.flex2{
    background-color: rgb(73, 73, 73);
    height: 225px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 5px auto;
    overflow: scroll;
    overflow-x: hidden;
}

#imgHolder{
    background-color: indigo;
    width: 100px;
    height: 100px;
    margin: 5px;
    box-sizing: border-box;
}

.imgHolder2{
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 5px;
}

#imglink{
    width:100px;
    height:100px;
    box-sizing: border-box;
}

#imglink:hover {
    border: 2px solid white;
}