*{
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    line-height: 1.5;
    color: white;
}

html{
    background-color: rgb(49, 49, 49);
}

/* header or banner */
header{
    background-image: url("./images/Gardevoir.jpg");
    background-size: cover;
    background-position-y: center;

}

header h1{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    padding:10px 0;
}

a{
    text-decoration: none;
}

/* nav bar */

nav{
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav ul{
    padding:0;
    padding-left: 10px;
}

nav ul li{
   list-style:none;
   display: inline-block;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 800;
    padding: 10px 10px;
}

nav ul li a:hover:not(.active){
    background-color: grey;
}

.active{
    background-color: brown;
}
.right{
    position: absolute;
    right:15px;
}

#img1{
    padding-top:5px;
    width: 40px;
    height: 40px;
}

.icon{
    padding:0;
    margin-bottom:10px;
    margin-left:10px;
    width: 40px;
    height: 40px;
}

.icon:hover:not(.active){
    background-color:black;
}

/* intro section */
#intro{
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 350px;
    background-image: url("./images/sakuratree.jpg");
}

#introtext{
    width: 800px;
    height:250px;
    background-color:rgba(0, 0, 0, 0.85);
    margin: auto;
    display: flex;
    justify-content: center;
    flex-shrink: 2;
}

#logo{
    width:125px;
    height:125px;
    float:left;
    margin: 10px;
}

#eh{
    width:600px;
    font-weight: 700;
    margin: auto;
}

/*image buttons*/

.BConatiner{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button{
    height: 450px;
    width:300px;
    background-color: hotpink;
    margin: 10px 10px 25px 10px;
    overflow: hidden;
}

#WDbutton{
    height:600px;
    width:auto;
    background-image: url("./images/GwenStacyMaskOn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

#Rbutton{
    height:600px;
    width:auto;
    background-image: url("./images/Alice_zuberg.jpg");
    background-position: -250px 0;
    background-repeat: no-repeat;
    background-size: cover;
  
}

#APbutton{
    height:600px;
    width:auto;
    background-image: url("./images/Okada_\ .jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.70);
  }

  .text {
    color: white;
    font-size: 24px;
    font-weight: 800;
    position: relative;
    top:15%;
    text-align: center;
  }

  .button:hover .overlay{
      opacity: 1;
  }

/* footer */
footer{
    position: relative;
    bottom: 0;
    left:0;
    width:100%;
    background-color: black;
    color: white;
    font-size: 0.9em;
    text-align: center;
    padding: 5px 0;
    margin: 0;
}

@media only screen and (max-width: 680px){

    .button{
        height:190px;
        width:400px;
        margin: 5px auto;
    }

    .BConatiner{
        flex-direction: column;
    }

    #WDbutton{
        background-position: -50px -50px;
    }

    #intro{
        height:300px;
    }

    footer{
        padding: 5px 0;
    }

    h1{
        font-size: 1.5rem;
    }

    .overlay{
        opacity: 1;
        background-color: rgba(0, 0, 0, 0);
    }

    .text{
        top: 26%;
        background-color: rgba(0, 0, 0, 0.70);

    }

    #img1{
        display:none;
    }

}

@media only screen and (max-width: 480px){
    h1{
        font-size: 1.2rem;
    }
    #eh{
        width:450px;
    }

    #eh p {
        font-weight: 500;
    }

    #logo{
        margin: 5px;
    }

    nav ul li a{
        font-weight: 500;
       
    }
}